{% extends 'base.html.twig'%}

{% block title %}{{ parent() }} : PEW PEW 2 {% endblock %}

{% block body %}
<strong>Starshop</strong>: the only Starship parts you will ever need

<div>

    Browse through {{ ships|length }} starships!

    {% if ships|length > 2 %}
        <p>
            {# Comment #}
            That's alot of starships!
        </p>
    {% endif %}
    
</div>

<div>
    <h2>My Ship</h2>
    <table>
        <tr>
            <th>Name</th>
            {# twig can use get method for objects if private #}
            <td>
                <a href="{{ path('app_starship_show', { id: myShip.id }) }}">
                    {{ myShip.name }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ myShip.captain }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ myShip.status }}</td>
        </tr>
    </table>
</div>

{% endblock %}